---
import { imageUrlFor } from '../lib/sanity';
import type { Release, SectionProps } from '../lib/types';


export interface Props extends SectionProps {
  releases: Release[];
}

const { id, releases } = Astro.props as Props;
---

<section class="music-section" id={id}>
  <h2 class="section-heading">Music</h2>

  <ul>
    {
      releases.map(({ image, name, url }) => (
        <li>
          <a href={url} target="_blank" rel="noreferrer" title={name}>
            <img alt={name} src={imageUrlFor(image).width(400).height(400).url()} />
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .music-section {
    & ul {
      @apply grid grid-cols-2 gap-2;
      @apply md:grid-cols-3
    }
  }
</style>
